.about-header {
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

.onlyPrintAndMobile {
    padding-bottom: 60px;
}

.onlyPrintAndMobile h1 {
    padding: 0px 10px;
    border-bottom: 2px solid grey;
}

.onlyPrintAndMobile p {
    margin-bottom: 5px;
}

.about a {
    color: deepskyblue;
}

.about p {
    padding: 0px 10px;
    text-align: justify;
}

.about img {
    padding: 20px;
}

@media print {
    .about-header img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .about-header img {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .onlyPrintAndMobile {
        display: none;
    }
}

@media screen {
    #onlyPrint {
        display: none;
    }
}

