.about-header {
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

.about a {
    color: deepskyblue;
}

.about p {
    padding: 0px 10px;
    text-align: justify;
}

.about img {
    padding: 20px;
}

@media print {
    .about-header img {
        display: none;
    }
}
