.experience-header img {
    width: 300px;
    padding: 10px;
}

.experience-header p {
    color: white;
    text-align: right;
    line-height: 80%;
    margin-right: 10%;
}

.experience-header Table {
    margin-top: 40px;
}

.cards {
    padding: 0px 10px;
}

.cards img {
    padding-top: 10px;
    width: 80%;
    margin: auto;
}

.cards h1 {
    padding: 20px 0px;
    color: white;
}

.cards #subtitle {
    font-style: italic;
}

.cards ul {
    text-align: justify;
}



