body {
    background-color: white;
}

.home-header {
    color: white;
    padding: 40px 20px;
    background-image: url('./static/header.jpg');
    margin-bottom: 30px;
}

.home-header p {
    font-weight: bold;
    padding: 10px 0px;
}

.projects .container {
    padding: 0px;
}



