body {
    background-color: white;
}

.home-header {
    color: white;
    padding: 40px 20px;
    background-image: url('./static/header.jpg');
    margin-bottom: 30px;
}

.home-header p {
    font-weight: bold;
    padding: 10px 0px;
}

.about p {
    padding: 0px 10px;
    text-align: justify;
}

.projects .container {
    padding: 0px;
}

.about-header {
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

.onlyPrintAndMobile {
    padding-bottom: 60px;
}

.onlyPrintAndMobile h1 {
    padding: 0px 10px;
    border-bottom: 2px solid grey;
}

.onlyPrintAndMobile p {
    margin-bottom: 5px;
}

.about table a {
    color: deepskyblue;
}

.about img {
    padding: 20px;
}

@media print {
    .onlyScreen {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .about-header img {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .onlyPrintAndMobile {
        display: none;
    }
}

@media screen {
    #onlyPrint {
        display: none;
    }
}

