.experience-header img {
    margin: auto;
    width: 60%;
    padding: 20px;
}

.experience-header #introduction {
    text-align: justify;
    margin: auto;
    padding: 40px 10px;
}

.experience-header #introduction h3 {
    text-align: right;
}

.experience-header Table {
    margin-top: 40px;
}

.cards {
    padding: 10px 10px;
}

.cards img {
    padding-top: 10px;
    max-width: 80%;
    margin: auto;
}

.cards h1 {
    padding: 30px 0px 0px 0px;
    border-bottom: 2px solid grey;
}

.cards #subtitle {
    font-style: italic;
}

.cards ul {
    text-align: justify;
}

.languages {
    padding: 0px 10px;
}

.languages h1 {
    padding: 30px 0px 0px 0px;
    border-bottom: 2px solid grey;
}

.languages h5 {
    padding-top: 20px;
}

.languages #subtitle {
    font-style: italic;
}

#bottom {
    padding: 20px 48%;
}

@media print {
    #bottom {
        display: none;
    }

    a {
        color: black;
    }

    a:link {
        text-decoration: none;
    }
}




